* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #141414;
  padding: 50px 50px 0 40px;
}
.top {
  display: flex;
  gap: 25px;
}
.top-left, .top-right {
  flex: 1;
}
.header {
  height: 250px;
}
h1 {
  font-size: 63px;
  font-weight: bold;
  line-height: 58px;
  margin: 0;
}
p {
  color: #b09f9f;
  font-weight: 500;
  margin: 0;
  font-size: 20px;
}
.divider-top {
  background-color: #373737;
  height: 1px;
  width: 425px;
  margin-top: 20px;
}
.top div {
  width: 420px;
}
.promo {
  margin-top: 27px;
  width: 400px;
  margin-bottom: 20px;
}
.promo h3 {
  margin-bottom: 21px;
}
h3 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}
.sub-promo div {
  display: flex;
  margin-top: 21px;
}
.sub-promo-header {
  font-size: 18px;
}
.top p {
  font-size: 17px;
}
h4 {
  font-size: 20px;
  color: #b09f9f;
  font-weight: 600;
  margin: 0;
}
img {
  margin-right: 14px;
}
.middle {
  margin-top: 83px;
}
.divider-middle {
  width: 100%;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 20px;
}
.diamond-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.diamond-wrapper h3 {
  font-size: 21px;
}
.diamond {
  height: 45px;
  margin: 0;
}
.learn-more {
  border: 1px solid #f9f9f9;
  background-color: #252525;
  color: #e5f9f9;
  padding: 8px 20px;
  font-size: 16px;
}
.learn-more:hover {
  background-color: #ffffff;
  color: #000000;
}
button {
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 600;
}
.sign-up {
  margin-top: 45px;
  background-color: #27b069;
  border: none;
  color: white;
  padding: 15px 63px;
}
.sign-up:hover {
  opacity: 0.5;
}
.bottom {
  margin-top: 150px;
}
.row {
  display: flex;
}
.choice-wrapper {
  display: grid;
  grid-template-columns: 108px 285px 185px 110px;
}
.row-heading,
.grid-item {
  height: 67px;
  border-bottom: 1px solid #252525;
  display: flex;
  align-items: center;
}
.google-hat {
  flex-direction: column;
}
span {
  font-size: 17px;
}
.example .row-heading h3 {
  margin-top: 20px;
  font-size: 21px;
  margin-bottom: 10px;
}
.small-compare {
  display: none;
}
.example .grid-item,
.example .row-heading {
  height: 115px;
}
.example .row-heading {
  display: block;
}
.grid-item {
  justify-content: center;
  text-align: center;
}
.row-heading {
  width: 415px;
}
.pick {
  background-color: #252525;
  color: white;
  font-size: 20px;
}
.divider-bottom {
  height: 1px;
  background-color: #252525;
  margin-top: 63px;
}
.details {
  font-size: 19px;
  margin-top: 43px;
}

@media (max-width: 1100px) {
  body {
    padding: 25px
  }
  .row {
    display: block;
  }
  .big-compare {
    display: none;
  }
  .small-compare {
    display: block;
    font-size: 31px;
  }
  .compare {
    border: none;
    margin-bottom: 15px;
  }
  .us {
    border: none;
  }
  .divider-bottom {
    margin-top: 50px;
  }
  .example .sub-heading {
    height: 90px;
  }
  .example .grid-item {
    height: 85px;
    padding: 10px;
  }
  .choice-wrapper {
    grid-template-columns: 1fr 2fr 1.5fr 1fr;
  }
}

@media (max-width: 900px) {
  .top {
    display: block;
  }
  .top-left .header {
    height: 200px;
  }
  .top-right .header {
    height: 150px;
  }
  .header div {
    margin-bottom: -10px;
  }
  .promo {
    margin-top: 40px;
  }
  .divider-top {
    width: 453px;
    position: absolute;
    margin-top: 15px;
    left: 0;
  }
  .promo div {
    margin-bottom: 10px;
  }
  .sub-promo p {
    margin-top: -2px;
  }
  .sub-promo {
    margin-bottom: 118px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
    line-height: 30px;
  }
  h3 {
    font-size: 17px;
    line-height: 12px;
  }
  h4 {
    font-size: 16px;
    line-height: 14px;
  }
  img {
    margin-right: 7px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
  }
  .top p {
    font-size: 13px;
  }
  .top-left .header,
  .top-right .header {
    font-size: 35px;
    height: 83px;
  }
  .sub-promo-header {
    font-size: 14px;
  }
  .divider-middle {
    display: block;
    padding: 17px 15px;
    margin-top: -9px;
  }
  .divider-middle div {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .diamond {
    height: 35px;
  }
  .bottom {
    margin-top: 101px;
  }
  .diamond-wrapper h3 {
    font-size: 17px;
  }
  .learn-more {
    margin-top: 18px;
    padding: 7px 12px;
    font-size: 13px;
  }
  .sign-up {
    font-size: 15px;
    padding: 10px 45px;
    margin-top: 25px;
  }
  .sub-heading {
    font-size: 15px;
    height: 52px;
    padding-top: 10px;
  }
  .grid-item {
    font-size: 15px;
    height: 52px;
  }
  .example .row-heading h3 {
    margin-top: 9px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  span {
    font-size: 14px;
    font-weight: 500;
  }
  .details {
    margin-top: 35px;
    font-size: 14px;
  }
}