body {
  background-color: #dddddd;
  display: flex;
  justify-content: space-between;
  height: 883px;
  max-width: 1219px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  height: 100%;
  flex: 1;
  background-color: #123262;
  color: white;
  padding: 10px 30px;
}

.middle {
  flex: 2;
}

.announce-wrapper {
  margin: 35px 20px;
}

.announce-header {
  background-color: #eae18a;
  color: #84180f;
  font-weight: 1000;
  font-size: large;
  padding: 7px 15px;
}

.announce-content {
  background-color: #fbf9e7;
  font-size: medium;
  padding: 15px 15px;
  word-spacing: 1.5px;
}

h4 {
  display: flex;
}

h2, h3 {
  padding: 3px 20px;
}

h2 {
  color: #123262;
}

.divider {
  border-top: 2px dotted #829aaa;
  width: 270px;
}

.arrow {
  display: block;
  margin: 30px auto;
  width: 6px;
  height: 6px;
  border-top: 3px solid #829aaa;
  border-left: 3px solid #829aaa;
  transform: rotate(135deg);
}

.arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 6px;
  background-color: #829aaa;
  transform: rotate(-45deg) translate(15px, 4px);
  left: 0;
  top: 0;
}